extends layouts/main
block content
    label(for="asdfsdf") 회원가입
    form(action="/join", method="post")
        label ID    
        input(type="text", name="userId", placeholder="ID") 
        br
        label(for="password") 비밀번호
        input(type="password", name="userPassword", placeholder="Password") 
        br
        label(for="password") 비밀번호 확인     
        input(type="password", name="userPassword2", placeholder="Password 확인")
        br
        label(for="password") 이름 
        input(type="text", name="userName", placeholder="Name") 
        br
        input(type="submit", value="Join")
