extends layouts/main
block content
    .joinTest login Test
    form(method="post")
        input(type="text", name="userId", placeholder="userId")
        input(type="password", name="userPassword", placeholder="password")
        input(type="submit", value="Login")
        a(href="http://localhost:4000/join") Join
    
    a(href="http://ec2-3-34-188-31.ap-northeast-2.compute.amazonaws.com/oauth/google") GOOGLE
    br
    a(href="/oauth/kakao") KAKAO
    br
    a(href="http://ec2-3-34-188-31.ap-northeast-2.compute.amazonaws.com/oauth/naver") NAVER
    br
    a(href="http://localhost:4000/oatuh/facebook") FACEBOOK (미완성)
