extends layouts/main
block content
    p Main
    form(action="/", method="get")
        input(type="submit", value="Home")
    form(action="/contents/university/", method="post")
        label 대학이름
        input(type="text", name="universityName")
        br
        label 점수, 등급 
        br
        input(type="number", name="score[]")
        input(type="text", name="grade[]")

        br
        input(type="number", name="score[]")
        input(type="text", name="grade[]")

        br
        input(type="number", name="score[]")
        input(type="text", name="grade[]")

        br
        input(type="number", name="score[]")
        input(type="text", name="grade[]")
        br
        input(type="submit", name="submit")