html
    head
        title MyUni
    body
        form(action="/", method="get")
            input(type="submit", value="home")
        main
            block content
        footer
            span MyUni
