<html>
    <head>
        <meta charset="UTF-8">
        <title>마이페이지</title>
        <link rel="stylesheet" href="../assets/css/index.css">
    </head>
    <body>
        <img id="limit-img" src="../assets//img/test.jpg"/>
		<div class="main-contents">
            <header>
				<div class="header-top">
					<a href="convert.html"><img src="../assets/img/logo/마이유니-타이포-버전.png" class="logo-img" srcset="../assets/img/logo/마이유니-타이포-버전@2x.png 2x,assets/img/logo/마이유니-타이포-버전@3x.png 3x"/></a>
					<button type="button" name="login" class="login-btn"><a href="login.html">로그인</a></button>
				</div>
				<nav class="contents">
					<ul>
						<li><a href="convert.html">비교내신 환산</a></li>
						<li><a href="uni_info.html">대학 정보</a></li>
						<li><a href="education.html">대학 입시 소양교육</a></li>
					</ul>
				</nav>
        	</header>
            <div class="div6 div-top">
                <div class="div6-2 box">
                    <h1 class="box-title">마이페이지</h1>
                    <div class="div6-2-1">
                        <ul>
                            <li>고등학교 졸업학력 검정고시 성적증명서 등록 </li>
                        </ul>
                        <img src="../assets/img/Camera_2020-08-11/Camera.png" srcset="../assets/img/Camera_2020-08-11/Camera@2x.png 2x,assets/img/Camera_2020-08-11/Camera@3x.png 3x" class="Camera">              
                    </div>
                </div>
                <div class="div6-3 box">
                    <h1 class="box-title"><a href="#">로그아웃</a></h1>
                </div>
            </div>
        </div>
    </body>
</html>